.button-edit {
  background-color: var(--rose-700);
  color: var(--white);

  position: fixed;
  bottom: 10px;
  right: 10px;

  font-size: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease-in-out;
}

.button-edit:hover {
  background-color: var(--indigo-700);
  color: var(--zinc-200);

  transform: translateY(-2px);
  box-shadow: 4px 2px 25px 1px var(--indigo-500) inset;
}

.button-light {
  background-color: var(--indigo-800);
  color: var(--white);
}

.button-light:hover {
  background-color: var(--pink-600);
  color: var(--white);
}

.button-dark {
  background-color: var(--white);
  color: var(--indigo-800);
}

.button-dark:hover {
  background-color: var(--rose-700);
  color: var(--white);
}
