@import './button.css';
@import './colors.css';

::-webkit-scrollbar {
  width: 0.71rem;
}
::-webkit-scrollbar-track {
  background: rgba(77, 80, 88, 0.1);
}
::-webkit-scrollbar-thumb {
  background: var(--indigo-500);
  border-radius: 2.2rem;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-family: 'Poppins', sans-serif;

  background-color: var(--indigo-100);
}
