.input-field input {
  border-color: var(--indigo-600);
  color: var(--indigo-600);
  width: 25rem;

  transition: all 0.2s ease-in-out;
}

.input-field input:focus {
  border-color: var(--indigo-800);
  color: var(--indigo-800);
  box-shadow: 0 0 0 0.07rem rgba(55, 48, 163, 0.25);
  width: 26.5rem;
}

@media only screen and (max-width: 425px) {
  .input-field input {
    width: 100%;
  }
  .input-field input:focus {
    width: initial;
  }
}
