main .title-event-details {
  color: var(--indigo-600);
}

.img-banner {
  width: 100%;
  min-height: 300px;
  max-height: 35rem;
  object-fit: cover;
}

.box-info {
  background-color: var(--indigo-600);
  color: var(--white);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-info svg {
  width: 2rem;
  height: 2rem;
}
